<!DOCTYPE html>
<html>
<head>
<title>index</title>
<!-- jQuery -->
<script src="__PUBLIC__/jQuery/jQuery-2.2.4.min.js"></script>
</head>
<body>
<a href="javascript:void(0)" title="点击" class="test">点击</a>
<script type="text/javascript">
$(function(){
	$('body').on('click', '.test', function(event) {
		event.preventDefault();
		/* Act on the event */
		$.ajax({
			url: '/api/manager/1',
			type: 'post',
			//dataType: 'json',
			//data: {table: 'manager',id:1},
		})
		.done(function(data) { 
			console.log(data);
		})
		.fail(function(data) {
			console.log(data);
		})
		.always(function(data) {
			// console.log(data);
		});
		
	});;
});
</script>
</body>
</html>