{extend name="view:mould:base" /}
{block name="title"}后台首页{/block}
{block name="content"}
  index3<br/>index3<br/>index3<br/>index3<br/>index3<br/>index3<br/>index3<br/>index3<br/>index3<br/>index3<br/>index3<br/>index3<br/>index3<br/>index3<br/>index3<br/>index3<br/>index3<br/>index3<br/>index3<br/>index3<br/>index3<br/>index3<br/>index3<br/>index3<br/>index3<br/>index3<br/>index3<br/>index3<br/>index3<br/>index3<br/>index3<br/>index3<br/>index3<br/>index3<br/>index3<br/>index3<br/>index3<br/>index3<br/>index3<br/>index3<br/>index3<br/>index3<br/>index3<br/>index3<br/>index3<br/>index3<br/>index3<br/>index3<br/>end
{/block}