{extend name="mould:base" /}
{block name="title"}后台首页{/block}
{block name="content"}
  index4<br/>index4<br/>index4<br/>index4<br/>index4<br/>index4<br/>index4<br/>index4<br/>index4<br/>index4<br/>index4<br/>index4<br/>index4<br/>index4<br/>index4<br/>index4<br/>index4<br/>index4<br/>index4<br/>index4<br/>index4<br/>index4<br/>index4<br/>index4<br/>index4<br/>index4<br/>index4<br/>index4<br/>index4<br/>index4<br/>index4<br/>index4<br/>index4<br/>index4<br/>index4<br/>index4<br/>index4<br/>index4<br/>index4<br/>index4<br/>index4<br/>index4<br/>index4<br/>index4<br/>index4<br/>index4<br/>index4<br/>index4<br/>end
{/block}