{extend name="mould:base" /}
{block name="title"}后台首页{/block}

{block name="style"}
	<link rel="stylesheet" href="__JS__/codemirror/codemirror.css">
	<link rel="stylesheet" href="__JS__/codemirror/theme/{:config('codemirror_theme')}.css">
	<style>
		.CodeMirror,#preview_window{
			width:700px;
			height:500px;
		}
		#preview_window.loading{
			background: url('__STATIC__/thinkbox/skin/default/tips_loading.gif') no-repeat center;
		}

		#preview_window textarea{
			display: none;
		}
	</style>
{/block}
{block name="content"}
	<form id="form" action="{:url('build')}" method="post" class="form-horizontal cy-ajaxForm cy-form">
		<div class="form-group form-group-sm">
	        <label class="col-sm-12" for="name"><span>*</span>标识名 <span class="check-tips">（请输入插件标识）</span></label>
	        <div class="col-sm-12">
	            <input type="text" class="input-sm form-cy col-xs-10 col-sm-5" name="info[name]" id="name" value="{$one.name|default=''}" placeholder="标识名">
	        </div>
	    </div>
	    <div class="form-group form-group-sm">
	        <label class="col-sm-12" for="title">插件名<span class="check-tips">（请输入插件名）</span></label>
	        <div class="col-sm-12">
	            <input type="text" class="input-sm form-cy col-xs-10 col-sm-5" name="info[title]" id="title" value="{$one.title|default='示列'}" placeholder="插件名">
	        </div>
	    </div>
	    <div class="form-group form-group-sm">
	        <label class="col-sm-12" for="version">版本<span class="check-tips">版本</span></label>
	        <div class="col-sm-12">
	            <input type="text" class="input-sm form-cy col-xs-10 col-sm-5" name="info[version]" id="title" value="{$one.version|default='0.1'}" placeholder="版本">
	        </div>
	    </div>
	    <div class="form-group form-group-sm">
	        <label class="col-sm-12" for="author">作者<span class="check-tips">（请输入插件作者）</span></label>
	        <div class="col-sm-12">
	            <input type="text" class="input-sm form-cy col-xs-10 col-sm-5" name="info[author]" id="title" value="{$one.author|default=''}" placeholder="作者">
	        </div>
	    </div>
	    <div class="form-group form-group-sm">
	        <label class="col-sm-12" for="description">描述<span class="check-tips">（请输入描述）</span></label>
	        <div class="col-sm-12">
	            <input type="text" class="input-sm form-cy col-xs-10 col-sm-5" name="info[description]" id="title" value="{$one.description|default=''}" placeholder="这是一个临时描述">
	        </div>
	    </div>
		<div class="form-group form-group-sm">
	        <label class="col-sm-12 checkbox" for="description">安装后是否启用&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" name="info[status]" value="1" checked /></label>
	        <div class="col-sm-12">
	        </div>
	    </div>
	    <div class="form-group form-group-sm">
	        <label class="col-sm-12 checkbox" for="description">是否需要配置&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" id="has_config" name="has_config" value="1" /></label>
	        <div class="col-sm-12 has_config hidden">
	            <textarea class="textarea form-cy col-xs-10 col-sm-6" rows="13" name="config">
&lt;?php
return array(
	'random'=>array(//配置在表单中的键名 ,这个会是config[random]
		'title'=>'是否开启随机:',//表单的文字
		'type'=>'radio',		 //表单的类型：text、textarea、checkbox、radio、select等
		'options'=>array(		 //select 和radion、checkbox的子选项
			'1'=>'开启',		 //值=>文字
			'0'=>'关闭',
		),
		'value'=>'1',			 //表单的默认值
	),
);
				</textarea>
				<div class="col-xs-10">
					<input type="text" class="form-cy" name="custom_config"><br>
					<span class="check-tips">自定义模板,注意：自定义模板里的表单name必须为config[name]这种，获取保存后配置的值用$data.config.name</span>
				</div>
	        </div>
	    </div>
	    <div class="form-group form-group-sm">
	        <label class="col-sm-12 checkbox" for="has_outurl">是否需要外部访问&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" name="has_outurl" value="1" /></label>
	        <div class="col-sm-12">
	        </div>
	    </div>
	    <div class="form-group form-group-sm">
	        <label class="col-sm-12" for="has_outurl">实现的钩子方法</label>
	        <div class="col-sm-12">
	            <select class="form-cy col-xs-10 col-sm-4" name="hook[]" size="10" multiple required>
					{volist name="hooks" id="vo"}
						<option value="{$vo.name}" title="{$vo.description}">{$vo.name}</option>
					{/volist}
				</select>
	        </div>
	    </div>
	    <div class="form-group form-group-sm">
	        <label class="col-sm-12 checkbox" for="has_outurl">是否需要后台列表
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" id="has_adminlist" name="has_adminlist" value="1" />勾选，扩展里已装插件后台列表会出现插件名的列表菜单，如系统的附件
			</label>
	        <div class="col-sm-12 has_adminlist hidden">
				<textarea name="admin_list" class="textarea form-cy col-xs-10 col-sm-6" rows="13">
'model'=>'Example',		//要查的表
			'fields'=>'*',			//要查的字段
			'map'=>'',				//查询条件, 如果需要可以再插件类的构造方法里动态重置这个属性
			'order'=>'id desc',		//排序,
			'list_grid'=>array( 		//这里定义的是除了id序号外的表格里字段显示的表头名和模型一样支持函数和链接
                'cover_id|preview_pic:封面',
                'title:书名',
                'description:描述',
                'link_id|get_link:外链',
                'update_time|time_format:更新时间',
                'id:操作:[EDIT]|编辑,[DELETE]|删除'
            ),
				</textarea>
				<div class="col-xs-10">
					<input type="text" class="form-cy" name="custom_adminlist">
					<span class="check-tips block">模板,注意：自定义模板里的列表变量为$_list这种,遍历后可以用listkey可以控制表头显示,也可以完全手写，分页变量用$_page</span>
				</div>
				
	        </div>
	    </div>
		<div class="fixed-bottom">
	        <div class="bottom-area">
	            <input type="hidden" name="id" value="{$one.id|default=''}">
	            <button class="btn btn-sm btn-return" type="button" id="preview">预 览</button>
				<button class="btn btn-sm cy-ajax submit-btn" target-form="form-horizontal" id="submit">确 定</button>
				<button class="btn btn-sm btn-return" onclick="javascript:history.back(-1);return false;">返 回</button>
	        </div>
	    </div>

	</form>
{/block}
{block name="script"}
<script type="text/javascript">
$(function(){
	//配置的动态
	bindShow('#has_config','.has_config');
	bindShow('#has_adminlist','.has_adminlist');

	$('#preview').click(function(){
		var preview_url = '{:U("preview")}';
		console.log($('#form').serialize());
		$.post(preview_url, $('#form').serialize(),function(data){
			$.thinkbox('<div id="preview_window" class="loading"><textarea></textarea></div>',{
				afterShow:function(){
					var codemirror_option = {
						lineNumbers   :true,
						matchBrackets :true,
						mode          :"application/x-httpd-php",
						indentUnit    :4,
						gutter        :true,
						fixedGutter   :true,
						indentWithTabs:true,
						readOnly	  :true,
						lineWrapping  :true,
						height		  :500,
						enterMode     :"keep",
						tabMode       :"shift",
						theme: "{:config('codemirror_theme')}"
					};
					var preview_window = $("#preview_window").removeClass(".loading").find("textarea");
					var editor = CodeMirror.fromTextArea(preview_window[0], codemirror_option);
					editor.setValue(data);
					$(window).resize();
				},

				title:'预览插件主文件',
				unload: true,
				actions:['close'],
				drag:true
			});
		});
		return false;
	});
});

function bindShow(radio_bind, selectors){
	$(radio_bind).click(function(){
		$(selectors).toggleClass('hidden');
	})
}
</script>
{/block}
<block name="script">
	<script type="text/javascript" src="__JS__/codemirror/codemirror.js"></script>
	<script type="text/javascript" src="__JS__/codemirror/xml.js"></script>
	<script type="text/javascript" src="__JS__/codemirror/javascript.js"></script>
	<script type="text/javascript" src="__JS__/codemirror/clike.js"></script>
	<script type="text/javascript" src="__JS__/codemirror/php.js"></script>

	<script type="text/javascript" src="__STATIC__/thinkbox/jquery.thinkbox.js"></script>

	<script type="text/javascript">
		function bindShow(radio_bind, selectors){
			$(radio_bind).click(function(){
				$(selectors).toggleClass('hidden');
			})
		}

		//配置的动态
		bindShow('#has_config','.has_config');
		bindShow('#has_adminlist','.has_adminlist');

		$('#preview').click(function(){
			var preview_url = '{:url("preview")}';
			console.log($('#form').serialize());
			$.post(preview_url, $('#form').serialize(),function(data){
				$.thinkbox('<div id="preview_window" class="loading"><textarea></textarea></div>',{
					afterShow:function(){
						var codemirror_option = {
							lineNumbers   :true,
							matchBrackets :true,
							mode          :"application/x-httpd-php",
							indentUnit    :4,
							gutter        :true,
							fixedGutter   :true,
							indentWithTabs:true,
							readOnly	  :true,
							lineWrapping  :true,
							height		  :500,
							enterMode     :"keep",
							tabMode       :"shift",
							theme: "{:config('codemirror_theme')}"
						};
						var preview_window = $("#preview_window").removeClass(".loading").find("textarea");
						var editor = CodeMirror.fromTextArea(preview_window[0], codemirror_option);
						editor.setValue(data);
						$(window).resize();
					},

					title:'预览插件主文件',
					unload: true,
					actions:['close'],
					drag:true
				});
			});
			return false;
		});

		$('.ajax-post_custom').click(function(){
	        var target,query,form;
	        var target_form = $(this).attr('target-form');
	        var check_url = '{:url('checkForm')}';
			$.ajax({
			   type: "POST",
			   url: check_url,
			   dataType: 'json',
			   async: false,
			   data: $('#form').serialize(),
			   success: function(data){
			    	if(data.status){
    			        if( ($(this).attr('type')=='submit') || (target = $(this).attr('href')) || (target = $(this).attr('url')) ){
				            form = $('.'+target_form);
				            if ( form.get(0).nodeName=='FORM' ){
				                target = form.get(0).action;
				                query = form.serialize();
				            }else if( form.get(0).nodeName=='INPUT' || form.get(0).nodeName=='SELECT' || form.get(0).nodeName=='TEXTAREA') {
				                query = form.serialize();
				            }else{
				                query = form.find('input,select,textarea').serialize();
				            }
				            $.post(target,query).success(function(data){
				                if (data.status==1) {
				                    if (data.url) {
				                        updateAlert(data.info + ' 页面即将自动跳转~','alert-success');
				                    }else{
				                        updateAlert(data.info + ' 页面即将自动刷新~');
				                    }
				                    setTimeout(function(){
				                        if (data.url) {
				                            location.href=data.url;
				                        }else{
				                        	location.reload();
				                        }
				                    },1500);
				                }else{
				                    updateAlert(data.info);
				                }
				            });
				        }
			    	}else{
			    		updateAlert(data.info);
					}
			   }
			});

	        return false;
	    });
	</script>
</block>
