{extend name="mould:base" /}
{block name="title"}{/block}
{block name="content"}
	<div class="page-content" id="ajax-data">
		{include file="web_log/ajax_weblog_list"/}
	</div><!-- /.page-content -->
{/block}
{block name="script"}
<script type="text/javascript">
	$(function(){
		$('body').on('change','.ajax_change',function () {		
	        var $form = $(this).parents("form");
			$.ajax({
			    url:$form.attr('action'),
				type:"POST",
				data:$form.serialize(),            
				success: function(data,status){
					$("#ajax-data").html(data);
				}
			});	
	    });
	});

</script>
{/block}
