@charset "UTF-8";

/**
 * 
 * @authors SpringYang (ceroot@163.com)
 * @date    2016-04-13 09:48:00
 * @version $Id$
 */

html,
body {
	min-height: 100%;
}

html,
body {
	height: 100%;
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: 400;
	overflow-x: hidden;
	overflow-y: auto;
}

a:link,
a:hover,
a:active,
a:visited {
	outline: none;
	text-decoration: none;
}

/* top loading */
/*.pace { -webkit-pointer-events: none; pointer-events: none; -webkit-user-select: none; -moz-user-select: none; user-select: none;}
.pace-inactive { display: none; }
.pace .pace-progress { background: #eb7a55; position: fixed; z-index: 2000; top: 0; right: 100%; width: 100%; height: 2px; }*/
.page-loading{
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: #FFF;
	z-index: 1000;
	text-align: center;
	line-height: 100%;
}
.page-loading span{
	vertical-align: bottom;
}

.wrapper {
	min-height: 100%;
	position: relative;
	overflow: hidden;
}

.wrapper:before,
.wrapper:after {
	content: " ";
	display: table;
}

.wrapper:after {
	clear: both;
}

.main-header {
	position: fixed;
	top: 0;
	width: 100%;
	max-height: 100px;
	z-index: 911;
	background-color: #3c8dbc;
	-webkit-transition: -webkit-transform 0.3s ease-in-out, top 0.3s ease-in-out;
	-moz-transition: -moz-transform 0.3s ease-in-out, top 0.3s ease-in-out;
	-o-transition: -o-transform 0.3s ease-in-out, top 0.3s ease-in-out;
	transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
}


.sidebar-expanded{}
.sidebar-expanded .main-sidebar{
	width: 180px;
}

.sidebar-expanded .main-header .logo{
	width: 180px;
}
.sidebar-expanded .main-wrapper{
	margin-left: 180px;
}


.sidebar-collapsed{}
.sidebar-collapsed .main-sidebar {
	-webkit-transform: translate(0, 0);
	-ms-transform: translate(0, 0);
	-o-transform: translate(0, 0);
	transform: translate(0, 0);
	width: 50px;
	z-index: 850;
}

.sidebar-collapsed .main-header .logo {
	width: 50px
}

.sidebar-collapsed .main-header .logo .logo-lg {
	display: none;
}

.sidebar-collapsed .main-header .logo .logo-mini {
	display: block;
	margin-left: -15px;
	margin-right: -15px;
	font-size: 18px;
}

.sidebar-collapsed .main-header .navbar {
	margin-left: 50px;
}

.sidebar-collapsed .main-wrapper {
	margin-left: 50px!important
}





.main-sidebar {
	position: fixed;
	top: 0;
	left: 0;
	padding-top: 48px;
	min-height: 100%;
	z-index: 910;
	-webkit-transition: -webkit-transform 0.3s ease-in-out, width 0.3s ease-in-out, left 0.3s ease-in-out;
	-moz-transition: -moz-transform 0.3s ease-in-out, width 0.3s ease-in-out, left 0.3s ease-in-out;
	-o-transition: -o-transform 0.3s ease-in-out, width 0.3s ease-in-out, left 0.3s ease-in-out;
	transition: transform 0.3s ease-in-out, width 0.3s ease-in-out, left 0.3s ease-in-out;
}

.main-wrapper {
	z-index: 80;
	padding-top: 48px;
	position: relative;
	-webkit-transition: -webkit-transform 0.3s ease-in-out, margin 0.3s ease-in-out, padding 0.3s ease-in-out;
	-moz-transition: -moz-transform 0.3s ease-in-out, margin 0.3s ease-in-out, padding 0.3s ease-in-out;
	-o-transition: -o-transform 0.3s ease-in-out, margin 0.3s ease-in-out, padding 0.3s ease-in-out;
	transition: transform 0.3s ease-in-out, margin 0.3s ease-in-out, padding 0.3s ease-in-out;
}


/*main-header*/
.main-header .logo {
	-webkit-transition: width 0.3s ease-in-out;
	-o-transition: width 0.3s ease-in-out;
	transition: width 0.3s ease-in-out;
	display: block;
	float: left;
	font-size: 20px;
	height: 48px;
	line-height: 48px;
	text-align: center;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	padding: 0 15px;
	font-weight: 300;
	overflow: hidden;
}

.main-header .logo .logo-lg {
	display: block;
}

.main-header .logo .logo-mini {
	display: none;
}

.main-header .sidebar-toggle {
	display: inline-block;
	background-color: transparent;
	background-image: none;
	padding: 0 15px;
	line-height: 48px;
	font-family: fontAwesome;
	color: #FFF;
	transition: background 0.5s;
    transition-property: background;
    transition-duration: 0.5s;
    transition-timing-function: initial;
    transition-delay: initial;
}
.main-header .sidebar-toggle:hover{
	background: #023554
}

.main-header .sidebar-toggle:before {
	content: "\f0c9";
}


.main-header .navbar {
	padding: 0;
}

.main-header .navbar > ul{
	float: right;
	margin: 0;
	padding: 0;
}

.main-header .navbar > ul > li{
	display: inline-block;
}

.main-header .navbar > ul > li > a{
	display: inline-block;
	position: relative;
	line-height: 48px;
	padding: 0 15px;
	transition: background 0.5s;
    transition-property: background;
    transition-duration: 0.5s;
    transition-timing-function: initial;
    transition-delay: initial;
}

.main-header .navbar > ul > li > a > i{

}

.main-header .navbar > ul > li > a > span{
    position: absolute;
    bottom: 9px;
    right: 6px;
    font-size: 9px;
    padding:2px 3px;
    line-height: .9; 
}

.main-header .navbar > ul > li.dropdown > ul.dropdown-menu{
	right: 0;
	left: auto;

}









/*sidebar*/
.sidebar{

}
.sidebar ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

.sidebar ul > li{
	margin: 0;
	padding: 0;
	/*width: 180px;*/
	white-space: nowrap;
}

.sidebar ul > li > dl{
    margin: 0;
    padding: 0;
}

/*dt*/
.sidebar ul > li > dl > dt{
    font-weight: normal;
    margin-bottom: 1px;
}

.sidebar ul > li > dl > dt > a{
	padding: 10px 5px 10px 15px;
	display: block;
	transition: background 0.5s;
    transition-property: background;
    transition-duration: 0.5s;
    transition-timing-function: initial;
    transition-delay: initial;
    position: relative;
}

.sidebar ul > li > dl > dt > a > i{
	width: 20px;
}

.sidebar ul > li > dl > dt > a > em {
	width: auto;
	height: auto;
	padding: 0;
	margin-right: 10px;
	margin-top: 3px;
	position: absolute;
	top: 10px;
	right: 5px;
}

.sidebar ul > li > dl > dt > a:hover,
.sidebar ul > li > dl > dt > a.current,
.sidebar ul > li.active > dl > dt > a{
	padding-left: 12px;
	border-left-width: 3px;
	border-left-style: solid;
}
.sidebar ul > li.active > dl > dt > a > em {
	-webkit-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	transform: rotate(-90deg);
}

/*dd*/
.sidebar ul > li > dl > dd{
	display: none;
	font-size: 12px;
	margin: 0;
}
.sidebar ul > li.active > dl > dd{
	/*display: block;不用这个是因为滑动效果受影响，必须直接在页面block*/
}
.sidebar ul > li > dl > dd > a{
	display: block;
	line-height: 36px;
	padding-left: 20px;
}



/*product sidebar*/
.product-sidebar {
	position: absolute;
	width: 170px;
	z-index: 900;
	-webkit-transition: -webkit-transform 0.3s ease-in-out, width 0.3s ease-in-out;
	-moz-transition: -moz-transform 0.3s ease-in-out, width 0.3s ease-in-out;
	-o-transition: -o-transform 0.3s ease-in-out, width 0.3s ease-in-out;
	transition: transform 0.3s ease-in-out, width 0.3s ease-in-out;
}
.product-sidebar dl{
    margin: 0; padding: 0;
}

.product-sidebar dl > dt{
	font-size: 14px;
	padding:0 10px;
	line-height: 44px;
	margin: 0;
	margin-bottom: 2px;
	font-weight: normal;
	white-space: nowrap;
}
.product-sidebar dl > dd{
	margin: 0;
}
.product-sidebar dl > dd > a{
    display: block;
    color: #2c3b41;
    padding: 3px 12px;
    white-space: nowrap;
    transition: background 0.3s;
    transition-property: background;
    transition-duration: 0.3s;
    transition-timing-function: initial;
    transition-delay: initial;
}

.product-sidebar dl > dd > a.active,
.product-sidebar dl > dd > a:hover{
    color: #344951;
    background: #ccc;
}

.product-sidebar .product-sidebar-control{
	position: absolute;
	top: 50%;
	right: 0;
	width: 20px;
	z-index: 900;
	text-align: right;
}

.product-sidebar .product-sidebar-control .second-sidebar-sold-right{
    display: none;
}

.product-sidebar .product-sidebar-control a{
	height: 36px;
	width: 10px;
	line-height: 36px;
    font-size: 18px;
    text-align: center;
    display: inline-block;
    background: #FFF;
    -webkit-transition: -webkit-transform 0.3s ease-in-out, width 0.3s ease-in-out;
	-moz-transition: -moz-transform 0.3s ease-in-out, width 0.3s ease-in-out;
	-o-transition: -o-transform 0.3s ease-in-out, width 0.3s ease-in-out;
	transition: transform 0.3s ease-in-out, width 0.3s ease-in-out;
}
.product-sidebar .product-sidebar-control a:hover{
    /*font-size: 28px;*/
    width: 20px;
}

.product-sidebar .product-sidebar-control a i{
	/*font-size: 18px;*/
}

.content-wrapper {
	position: absolute;
	margin-left: 170px;
	left: 0;
	right: 0;
	-webkit-transition: -webkit-transform 0.3s ease-in-out, margin 0.3s ease-in-out;
	-moz-transition: -moz-transform 0.3s ease-in-out, margin 0.3s ease-in-out;
	-o-transition: -o-transform 0.3s ease-in-out, margin 0.3s ease-in-out;
	transition: transform 0.3s ease-in-out, margin 0.3s ease-in-out;
}


/*main-wrapper hasClass product-sidebar-fold*/
.product-sidebar-fold {
}

.product-sidebar-fold .product-sidebar .product-sidebar-control .second-sidebar-sold-left{
    display: none;
}

.product-sidebar-fold .product-sidebar .product-sidebar-control .second-sidebar-sold-right{
    display: block;
}

.product-sidebar-fold .product-sidebar {
	width: 0;
	-webkit-transform: translate(0, 0);
	-ms-transform: translate(0, 0);
	-o-transform: translate(0, 0);
	transform: translate(0, 0);
}

.product-sidebar-fold .product-sidebar .product-sidebar-control{
    right: -20px;
    text-align: left;
}

.product-sidebar-fold .product-sidebar .product-sidebar-control a{
    background: #E9E9E9;
}

.product-sidebar-fold .content-wrapper {
	margin-left: 0;
}

/*content main*/
.content-main{

}

.content-main .content-header{
	position: relative;
}
.content-main .content-header h1{
	font-size: 16px;
	margin: 0;
	padding: 0;
	padding-left: 10px;
	line-height: 44px;
}
.content-main .content-header .breadcrumb{
	font-size: 12px;
    padding: 10px 5px;
    padding-right: 40px;
    position: absolute;
    top: 0;
    right: 0;
}

/*
 * Component: Sidebar Mini
 */
@media (min-width: 768px) {
	
    
    .sidebar ul > li > dl > dt > a{
    	margin-right: 0;
    }
	.sidebar-collapsed .sidebar ul > li > a {
		margin-right: 0;
	}

	.sidebar-collapsed .sidebar ul > li > dl > dt > a > span,
	.sidebar-collapsed .sidebar ul > li > dl > dt > a > em,
	.sidebar-collapsed .sidebar ul > li > dl > dd {
		display: none !important;
		-webkit-transform: translateZ(0);
	}

	.sidebar-collapsed .copyright{
		left: -180px;
	}


}

@media(max-width: 768px){

    .logo,
    .sidebar-collapsed .logo {
		width: 100%;
	}

	.main-header{
		/*position: relative;*/
	}

	.navbar,
	.sidebar-collapsed .navbar{
		/*float: right;*/
		position: absolute;
		top: 0;
		left: 0;
	}

    .sidebar-collapsed .main-sidebar,
    .main-sidebar{
    	width: 100%; display: none;
    }

	.sidebar ul > li > dl >dt > a > span{}
	.sidebar ul > li > dl >dt > a > em{
		display: none;
	}

	.sidebar-collapsed .main-wrapper,
	.main-wrapper {
		margin-left: 0!important
	}

	.sidebar-collapsed .main-wrapper .content-wrapper,
	.main-wrapper .content-wrapper{
		padding-left: 0!important;
		margin-left: 0!important
	}
    
    .sidebar-collapsed .product-sidebar,
	.product-sidebar{
		position: static;
		width: 100%;
		height: auto;
	}

	.sidebar-collapsed .product-sidebar-wrapper dl > dt > a,
	.product-sidebar-wrapper dl > dd > a{
		display: inline-block;
	}



	.main-footer{ display: none; }

}

/*copyright*/
.copyright{
	position: absolute;
	width: 100%;
	height: 36px;
	bottom: 0;
	left: 0;
	z-index: 900;
	color: #939393;
	font-size: 12px;
	text-align: center;
	background: #07263a;
	white-space: nowrap;
	-webkit-transition: -webkit-transform 0.3s ease-in-out, left 0.3s ease-in-out;
	-moz-transition: -moz-transform 0.3s ease-in-out, left 0.3s ease-in-out;
	-o-transition: -o-transform 0.3s ease-in-out, left 0.3s ease-in-out;
	transition: transform 0.3s ease-in-out, left 0.3s ease-in-out;
}

/*sidebar tooltip*/
.sidebar-tooltip{
	position: absolute;
	left: 50px;
	z-index: 910;
	display: none;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	background-color:rgba(7,42,63,0.9); /*#072a3f;*/
}

.sidebar-tooltip dl{
	position: relative;
	padding: 0;
	margin: 0;
}

.sidebar-tooltip dl > dt{
	font-size: 14px;
	margin: 0;
	padding: 0 10px;
	line-height: 44px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	background-color:rgba(7,42,63,0.8); /*#072a3f;*/
}

.sidebar-tooltip dl > dt.bbrr-no{
    border-bottom-right-radius:0;
}

.sidebar-tooltip dl > dt a{
	display: block;
	white-space: nowrap;
}

.sidebar-tooltip dl > dt > a > i,
.sidebar-tooltip dl > dt > a > em{
	display: none;
}

.sidebar-tooltip dl > dd{

}

.sidebar-tooltip dl > dd > a{
	display: block;
	font-size: 12px;
	padding: 5px 10px;
    white-space: nowrap;
}

.sidebar-tooltip dl > dd > a:hover{

}

/*IE下透明问题*/
@media \0screen\,screen\9 {
    .sidebar-tooltip{
    	background-color: #2c3b41;
		filter:Alpha(opacity=90);
	}
	.sidebar-tooltip dl>dt{
		background-color: #2c3b41;
		filter:Alpha(opacity=80);
	}
}


/*二级菜单*/
.product-sidebar-wrapper{}
.product-sidebar-wrapper ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.product-sidebar-wrapper ul li{
	white-space: nowrap;
}


/*full control*/
.full-control{
	position: fixed;
	z-index: 912;
	top: 58px;
	right: 20px;
	-webkit-transition: -webkit-transform 0.3s ease-in-out, top 0.3s ease-in-out;
	-moz-transition: -moz-transform 0.3s ease-in-out, top 0.3s ease-in-out;
	-o-transition: -o-transform 0.3s ease-in-out, top 0.3s ease-in-out;
	transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
}
.full-control a{
	transition: color 0.5s;
    transition-property: color;
    transition-duration: 0.5s;
    transition-timing-function: initial;
    transition-delay: initial;
}
.full-control a:hover{
	color: #FFF;
}

/*has full wrapper*/
.full-wrapper{
    
}

.full-wrapper .main-header{
	top: -48px;
}

.full-wrapper .main-wrapper .product-sidebar{
	width: 0;
}

.full-wrapper .main-sidebar{
	left:-180px;
}

.sidebar-collapsed.full-wrapper .main-sidebar{
	left:-50px;
}



.full-wrapper .main-wrapper{
	margin-left: 0!important;
	padding-top: 0!important;
	padding-left: 0!important;
}



.full-wrapper .full-control{
	top: 8px;
}



.full-wrapper .main-wrapper .content-wrapper{
    margin-left: 0!important;
}













/*thinkphp trace develpoer*/
#think_page_trace_open{
	z-index: 999999
}