{extend name="mould:base" /}
{block name="title"}{/block}
{block name="content"}
<style type="text/css">
form.cy-form .form-inline span{width: 140px; text-align: right; display: inline-block;}
</style>
<form action="{:url('edit')}" method="post" class="cy-ajaxForm cy-form" >
    <div class="form-group form-inline">
        <span for="name" class="control-label">类别标识：</span>
        <input class="form-control" type="text" name="name" id="name" value="{$one.name}" placeholder="类别标识" />
    </div>
    <div class="form-group form-inline">
        <span for="title">类别名称：</span>
        <input class="form-control" type="text" name="title" id="title" value="{$one.title}" placeholder="类别名称" />
    </div>
    <div class="form-group form-inline">
        <span for="title">父级：</span>
        <select name="pid" class="form-control">
            <option value="0">顶级</option>
                {volist name='category' id='category'}
                    <option value="{$category.id}" {eq name="category.id" value="$one.pid"} selected="selected"{/eq}>{$category._name}</option>
                {/volist}
            </select>
    </div>
    <div class="form-group form-inline">
        <span for="status">状态：</span>
        <label class="radio-inline">
            <input type="radio" name="status" id="" value="1"{eq name="one.status" value="1"} checked="checked"{/eq}> 正常
        </label>
        <label class="radio-inline">
            <input type="radio" name="status" id="" value="0"{eq name="one.status" value="0"} checked="checked"{/eq}> 禁用
        </label>
    </div>
    <div class="form-group form-inline">
        <span for="show_status">是否显示菜单：</span>
        <label class="radio-inline">
            <input type="radio" name="show_status" id="" value="1"{eq name="one.show_status" value="1"} checked="checked"{/eq}> 显示
        </label>
        <label class="radio-inline">
            <input type="radio" name="show_status" id="" value="0"{eq name="one.show_status" value="0"} checked="checked"{/eq}> 隐藏
        </label>
    </div>
    <div class="form-group form-inline">
        <span for="url：">url：</span>
        <input class="form-control" type="text" name="url" id="url" value="{$one.url}" placeholder="类别url" />
    </div>
    <div class="form-group form-inline">
        <span for="sort">排序：</span>
        <input class="form-control" type="text" name="sort" id="sort" value="{$one.sort}" placeholder="排序" />
    </div>
    <div class="form-group form-inline">
        <span for="remark">备注：</span>
        <textarea class="form-control" name="remark" id="remark" value="{$one.remark}"></textarea>
    </div>
    
    <div class="fixed-bottom">
        <input type="hidden" name="id" value="{$one.id}">
        <button class="btn btn-default">保存</button>
    </div>
</form>
<script type="text/javascript">

var userValidate = {
    rules: {
        'name':'required',
        'title':{
            required:true
        }
    }, 
    messages: {
        'name':'请填写规则标识',
        'title':{
            required:'请填写规则名称'
        }
    }
};

</script>
{/block}