{extend name="mould:base" /}
{block name="title"}{/block}
{block name="content"}

<form action="{:url('file')}" method="post" class="form-horizontal cy-ajaxForm cy-form" role="form">
    <div class="form-group form-group-sm">
        <label class="col-sm-12" for="title">内容标题：</label>
        <div class="col-sm-12">
            <input type="text" class="input-sm form-cy col-xs-10 col-sm-5" name="title" id="title" placeholder="内容标题">
        </div>
    </div>
    <div class="form-group form-group-sm">
        <label class="col-sm-12" for="images">封面图：</label>
        <div class="col-sm-12">
            <a href="javascript:;" class="file">
                <input type="file" name="images" id="file0" />
                选择上传文件
            </a>
            <span class="lbl">&nbsp;&nbsp;<img src="/data/examples/108.jpg" width="100" height="70" id="img0" ></span>
        </div>
    </div>

    <div class="fixed-bottom">
        <div class="bottom-area">
            <button class="btn btn-sm btn-default">保存</button>
        </div>
    </div>
</form>
<script type="text/javascript">
var userValidate = {
    rules: {
        'title':'required',
        'content':{
            required:true
        }
    }, 
    messages: {
        'title':'请填写标题',
        'content':{
            required:'请填写内容'
        }
    }
};


</script>
{/block}