{extend name="mould:base" /}
{block name="title"}首页{/block}
{block name="content"}
<div class="container-fluid">
    <div class="row">
        <div id="carousel-example-generic" class="carousel slide dot-index-slide" data-interval="3000" data-ride="carousel">
            <!-- 轮播（Carousel）指标 -->
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            </ol>

            <!-- 轮播（Carousel）项目 -->
            <div class="carousel-inner" role="listbox">
                <div class="item active" style="background-image:url('/data/examples/101.jpg') ;">
                    
                </div>
                <div class="item" style="background-image:url('/data/examples/102.jpg') ;">
                    
                </div>
                <div class="item" style="background-image:url('/data/examples/103.jpg') ;">
                    
                </div>
            </div>

            <!-- 轮播（Carousel）导航 -->
            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</div>
<div class="hr-10">
	
</div>
<div class="container">
	<div class="row">
		<div class="col-xs-12 col-md-3">
			<div class="row">
				<div class="dot-side">
					<dl>
						<dt>服务项目</dt>
						<dd>
							<a href="" title="内容">内容</a>
							<a href="" title="内容">内容</a>
							<a href="" title="内容">内容</a>
							<a href="" title="内容">内容</a>
							<a href="" title="内容">内容</a>
							<a href="" title="内容">内容</a>
							<a href="" title="内容">内容</a>
						</dd>
					</dl>
					<dl class="mg-t-10 hidden-xs">
						<dt>成功案例</dt>
						<dd>
							<a href="" title="内容">内容</a>
							<a href="" title="内容">内容</a>
							<a href="" title="内容">内容</a>
							<a href="" title="内容">内容</a>
							<a href="" title="内容">内容</a>
							<a href="" title="内容">内容</a>
							<a href="" title="内容">内容</a>
						</dd>
					</dl>
					<dl class="mg-t-10">
						<dt>联系我们</dt>
						<dd>
							<a href="" title="内容">内容</a>
							<a href="" title="内容">内容</a>
							<a href="" title="内容">内容</a>
							<a href="" title="内容">内容</a>
							<a href="" title="内容">内容</a>
							<a href="" title="内容">内容</a>
							<a href="" title="内容">内容</a>
						</dd>
					</dl>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-md-9">
            <div class="">
            	<h4>成功案例</h4>
            	<div class="row">
            		{volist name="case" id="cases"}
            			<div class="col-xs-12 col-sm-6 col-md-4">
						    <div class="thumbnail">
						    	<a href="" title="" target="_blank">
							      	<img src="/data/examples/201.jpg" alt="...">
							      	<div class="caption">
								        <h3>{$cases.title}</h3>
								        <p>{$cases.content|mb_substr=0,10}</p>
							      	</div>
						      	</a>
						    </div>
						</div>
            		{/volist}
            		<div class="col-xs-12 col-sm-6 col-md-4">
					    <div class="thumbnail">
					    	<a href="" title="" target="_blank">
						      	<img src="/data/examples/201.jpg" alt="...">
						      	<div class="caption">
							        <h3>Thumbnail label</h3>
							        <p>...</p>
						      	</div>
					      	</a>
					    </div>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-4">
					    <div class="thumbnail">
					      	<img src="/data/examples/202.jpg" alt="...">
					      	<div class="caption">
						        <h3>Thumbnail label</h3>
						        <p>...</p>
					      	</div>
					    </div>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-4">
					    <div class="thumbnail">
					      	<img src="/data/examples/203.jpg" alt="...">
					      	<div class="caption">
						        <h3>Thumbnail label</h3>
						        <p>...</p>
					      	</div>
					    </div>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-4">
					    <div class="thumbnail">
					      	<img src="/data/examples/204.jpg" alt="...">
					      	<div class="caption">
						        <h3>Thumbnail label</h3>
						        <p>...</p>
					      	</div>
					    </div>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-4">
					    <div class="thumbnail">
					      	<img src="/data/examples/205.jpg" alt="...">
					      	<div class="caption">
						        <h3>Thumbnail label</h3>
						        <p>...</p>
					      	</div>
					    </div>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-4">
					    <div class="thumbnail">
					      	<img src="/data/examples/206.jpg" alt="...">
					      	<div class="caption">
						        <h3>Thumbnail label</h3>
						        <p>...</p>
					      	</div>
					    </div>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-4">
					    <div class="thumbnail">
					      	<img src="/data/examples/207.jpg" alt="...">
					      	<div class="caption">
						        <h3>Thumbnail label</h3>
						        <p>...</p>
					      	</div>
					    </div>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-4">
					    <div class="thumbnail">
					      	<img src="/data/examples/208.jpg" alt="...">
					      	<div class="caption">
						        <h3>Thumbnail label</h3>
						        <p>...</p>
					      	</div>
					    </div>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-4">
					    <div class="thumbnail">
					      	<img src="/data/examples/209.jpg" alt="...">
					      	<div class="caption">
						        <h3>Thumbnail label</h3>
						        <p>...</p>
					      	</div>
					    </div>
					</div>
            	</div>
            </div>
		</div>
	</div>
</div>
{/block}