{extend name="mould:base" /}
{block name="title"}首页{/block}
{block name="content"}
<div class="container-fluid">
	<div class="carousel" data-role="carousel">
        <div class="slides">
            <div class="slide image" id="slide1">
                <img />
                <div class="description">
                    Description text here...
                </div>
            </div>
 
            <div class="slide mixed" id="slide2">
                <img />
                <div class="description">
                    Description text here...
                </div>
            </div>
            ...
        </div>
 
        <span class="control left">‹</span>
        <span class="control right">›</span>
 
    </div>
</div>
<div class="container">
	<div class="row">
		主体
	</div>
</div>
{/block}