{extend name="mould:base" /}
{block name="title"}{/block}
{block name="content"}

<form action="{:url('edit')}" method="post" class="cy-ajaxForm cy-form" role="form">
    <div class="form-group form-inline">
        <span class="title" for="name">类别标识：</span>
        <input type="text" class="form-control input-sm" name="name" id="name" value="{$one.name}" placeholder="类别标识">
    </div>
    <div class="form-group form-inline">
        <span class="title" for="title">类别标题：</span>
        <input type="text" class="form-control input-sm" name="title" id="title" value="{$one.title}" placeholder="类别标题">
    </div>
    <div class="form-group form-inline">
        <span for="title">父级规则：</span>
        <select name="pid" class="form-control">
            <option value="0">顶级</option>
            {volist name='category' id='categorys'}
                <option value="{$categorys.id}" {eq name="categorys.id" value="$one.pid" }selected="selected"{/eq}{$categorys._name}</option>
            {/volist}
        </select>
    </div>
    <div class="form-group form-inline">
        <span class="title" for="url">url：</span>
        <input type="text" class="form-control input-sm" name="url" id="url" value="{$one.url}" placeholder="菜单url">
    </div>
    <div class="form-group form-inline">
        <span>状态：</span>
        <label class="radio-inline">
            <input type="radio" name="status" id="status" value="1" {eq name="one.status" value="1"}checked="checked"{/eq}> 正常
        </label>
        <label class="radio-inline">
            <input type="radio" name="status" id="status" value="0" {eq name="one.status" value="0"}checked="checked"{/eq}> 禁用
        </label>
    </div>
    <div class="fixed-bottom">
        <div class="bottom-area">
            <input type="hidden" name="id" value="{$one.id}">
            <button class="btn btn-sm btn-default">保存</button>
        </div>
    </div>
</form>

<script type="text/javascript">
var userValidate = {
    rules: {
        'title':'required',
    }, 
    messages: {
        'title':'请填写标题',
    }
};

</script>
{/block}