{extend name="mould:base" /}
{block name="title"}{/block}
{block name="content"}
<form action="{:url('add')}" method="post" class="cy-ajaxForm cy-form" role="form">
    <div class="form-group form-inline">
        <table>
            <tr>
                <td valign="top"><span for="group" class="pd-t-5">角色：</span></td>
                <td style="padding-left:3px">
                    <div class="group-area">
                        <select name="group_id[]" class="form-control">
                            {volist name='groupdata' id='list'}
                              <option value="{$list.id}" {eq name="list.id" value="8"} selected="selected"{/eq}>{$list.title}</option>
                            {/volist}
                        </select>&nbsp&nbsp&nbsp&nbsp<a href="javascript:void(0)" onclick="add_group(this)" title="添加一个">[+]</a>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <div class="form-group form-inline">
        <span for="username" class="control-label">用户名：</span>
        <input type="text" class="form-control" name="username" id="username" placeholder="用户名">
    </div>
    <div class="form-group form-inline">
        <span for="nickname" class="control-label">用户昵称：</span>
        <input type="text" class="form-control" name="nickname" id="nickname" placeholder="用户昵称">
    </div>
    <div class="form-group form-inline">
        <span for="realname">姓名：</span>
        <input type="text" class="form-control" name="realname" id="realname" placeholder="姓名">
    </div>
    <div class="form-group form-inline">
        <span for="email">邮箱：</span>
        <input type="text" class="form-control" name="email" id="email" placeholder="邮箱">
    </div>
    <div class="form-group form-inline">
        <span for="password">用户密码：</span>
        <input type="password" class="form-control" name="password" id="password" placeholder="用户密码">
    </div>
    <!-- <div class="form-group form-inline">
        <span for="repassword">确认密码：</span>
        <input type="password" class="form-control" name="repassword" id="repassword" placeholder="确认密码">
    </div> -->
    <div class="form-group form-inline">
        <span>状态：</span>
        <label class="radio-inline">
            <input type="radio" name="status" id="status" value="1" checked="checked"> 正常
        </label>
        <label class="radio-inline">
            <input type="radio" name="status" id="status" value="0"> 禁用
        </label>
    </div>
    <div class="fixed-bottom">
        <button class="btn btn-default">保存</button>
    </div>
</form>
<script type="text/javascript">
var userValidate = {
    rules: {
        'username':{
        	required:true,
        	minlength:3
        },
        'password':{
            required:true,
            minlength:6,
        },
        // 'repassword':{
        // 	required:true,
        // 	equalTo:"#password"
        // }
        
    }, 
    messages: {
        'username':{
        	required:'请填写用户名',
        	minlength:'用户名长度不够'
        },
        'password':{
            required:'请填写密码',
            minlength:'密码长度不够'
        },
        // 'repassword':{
        // 	required:'请填写确认密码',
        // 	equalTo:'确认密码有误'
        // }
    }
};

function add_group(obj)
{
    var html = $(obj).parent('.group-area').clone();
    // console.log(html);
    html.find('select').addClass('mg-t-10');
    html.find('a').attr('onclick','del_group(this)').html('[-]');
    // html.find('select option').removeAttr('selected');
    $(obj).parents('td').append(html);
}

function del_group(obj)
{
    $(obj).parent('.group-area').remove();
}
</script>
{/block}