{extend name="mould:base" /}
{block name="title"}{/block}
{block name="css"}

{/block}
{block name="content"}
<form action="{:url('update')}" method="post" class="form-horizontal cy-ajaxForm cy-form" role="form" data-validate="true">
    <div class="form-group form-group-sm">
        <label class="col-sm-12" for="name"> 角色：</label>
        {present name="one"}
            {notempty name="authgroup"}
                {volist name="authgroup" id="authgroup" key="k"}
                    <div class="col-sm-12 group-area">
                        <select name="group_id[]" class="selectpicker {neq name="k" value="1"}mg-t-10{/neq}" multiple>
                            {volist name='groupdata' id='list'}
                              <option value="{$list.id}" {eq name="authgroup.group_id" value="$list.id" } selected="selected"{/eq}>{$list.title}</option>
                            {/volist}
                        </select>
                    </div>
                {/volist}
            {else /}
                <div class="col-sm-12 group-area">
                    <select name="group_id[]" class="selectpicker" multiple>
                        {volist name='groupdata' id='list'}
                          <option value="{$list.id}" {eq name="list.id" value="8"} selected="selected"{/eq}>{$list.title}</option>
                        {/volist}
                    </select>
                </div>
            {/notempty}
        {else}
            <div class="col-sm-12 group-area">
                <select name="group_id[]" class="selectpicker" multiple>
                    {volist name='groupdata' id='list'}
                      <option value="{$list.id}" {eq name="list.id" value="8"} selected="selected"{/eq}>{$list.title}</option>
                    {/volist}
                    <option value="21" selected="selected">test2</option>
                    <option value="22" selected="selected">test2</option>
                </select>
            </div>
        {/present}
    </div>
    <div class="form-group form-group-sm">
        <label class="col-sm-12" for="username">用户名：</label>
        <div class="col-sm-12">
            <input type="text" class="input-sm form-cy col-xs-10 col-sm-5" name="username" id="username" value="{$one.username|default=''}" placeholder="用户名">
        </div>
    </div>
    <div class="form-group form-group-sm">
        <label class="col-sm-12" for="nickname">用户昵称：</label>
        <div class="col-sm-12">
            <input type="text" class="input-sm form-cy col-xs-10 col-sm-5" name="nickname" id="nickname" value="{$one.nickname|default=''}" placeholder="用户昵称">
        </div>
    </div>
    <div class="form-group form-group-sm">
        <label class="col-sm-12" for="realname">姓名：</label>
        <div class="col-sm-12">
            <input type="text" class="input-sm form-cy col-xs-10 col-sm-5" name="realname" id="realname" value="{$one.realname|default=''}" placeholder="姓名">
        </div>
    </div>
    <div class="form-group form-group-sm">
        <label class="col-sm-12" for="email">邮箱：</label>
        <div class="col-sm-12">
            <input type="text" class="input-sm form-cy col-xs-10 col-sm-5" name="email" id="email" value="{$one.email|default=''}" placeholder="邮箱">
        </div>
    </div>
    <div class="form-group form-group-sm">
        <label class="col-sm-12" for="password">用户密码：</label>
        <div class="col-sm-12">
            <input type="password" class="input-sm form-cy col-xs-10 col-sm-5" name="password" id="password" value="" placeholder="用户密码">
        </div>
    </div>
    <div class="form-group form-group-sm">
        <label class="col-sm-12" for="repassword">确认密码：</label>
        <div class="col-sm-12">
            <input type="repassword" class="input-sm form-cy col-xs-10 col-sm-5" name="repassword" id="repassword" value="" placeholder="确认密码">
        </div>
    </div>
    <div class="form-group form-group-sm">
        <label class="col-sm-12" for="status">状态：</label>
        <div class="col-sm-12">
            <label class="radio-inline">
                <input type="radio" name="status" id="status" value="1" {present name="one"}{eq name='one.status' value='1'} checked="checked"{/eq}{else /} checked="checked"{/present}> 正常
            </label>
            <label class="radio-inline">
                <input type="radio" name="status" id="status" value="0" {eq name='one.status' value='0'} checked="checked"{/eq}> 禁用
            </label>
        </div>
    </div>
    <div class="fixed-bottom">
        <div class="bottom-area">
            <input type="hidden" name="id" value="{$one.id|default=''}">
            <button class="btn btn-sm btn-default btn-post">保存</button>
        </div>
    </div>
</form>
{/block}
{block name="script"}

<script type="text/javascript">
$(function()){
    //$('#selectmodule').selectpicker();
    //$('.selectpicker').selectpicker('val',"ddd,kskks".split(','));
}):
var userValidate = {
    rules: {
        'username':{
        	required:true,
        	minlength:3
        },
        'password':{
            required:true,
            minlength:6,
        },
        // 'repassword':{
        // 	required:true,
        // 	equalTo:"#password"
        // }
        
    }, 
    messages: {
        'username':{
        	required:'请填写用户名',
        	minlength:'用户名长度不够'
        },
        'password':{
            required:'请填写密码',
            minlength:'密码长度不够'
        },
        // 'repassword':{
        // 	required:'请填写确认密码',
        // 	equalTo:'确认密码有误'
        // }
    }
};

function add_group(obj)
{
    var html = $(obj).parent('.group-area').clone();
    // console.log(html);
    html.find('select').addClass('mg-t-10');
    html.find('a').attr('onclick','del_group(this)').html('[-]');
    // html.find('select option').removeAttr('selected');
    $(obj).parents('.form-group').append(html);
}

function del_group(obj)
{
    $(obj).parent('.group-area').remove();
}
</script>
{/block}