{extend name="mould:base" /}
{block name="title"}{/block}
{block name="content"}
<form action="{:url('edit')}" method="post" class="J_ajaxForms cy-form" role="form">
    <div class="form-group form-inline">
        <span for="username">用户名：</span>
        <input type="text" class="form-control input-sm" name="username" id="username" value="{$one.username}" placeholder="用户名">
    </div>
    <div class="form-group form-inline">
        <span for="nickname">用户昵称：</span>
        <input type="text" class="form-control" name="nickname" id="nickname" value="{$one.nickname}" placeholder="用户昵称">
    </div>
    <div class="form-group form-inline">
        <span for="realname">姓名：</span>
        <input type="text" class="form-control" name="realname" id="realname" value="{$one.realname}" placeholder="真实姓名">
    </div>
    <div class="form-group form-inline">
        <span for="email">邮箱：</span>
        <input type="text" class="form-control" name="email" id="email" value="{$one.email}" placeholder="邮箱">
    </div>
    <div class="form-group form-inline">
        <span for="password">用户密码：</span>
        <input type="password" class="form-control" name="password" id="password" placeholder="用户密码">
    </div>
    <!-- <div class="form-group form-inline">
        <span for="repassword">确认密码：</span>
        <input type="password" class="form-control" name="repassword" id="repassword" placeholder="确认密码">
    </div> -->
    <div class="form-group form-inline">
        <span>状态：</span>
        <label class="radio-inline">
            <input type="radio" name="status" id="status" value="0" {eq name='one.status' value='0'} checked="checked"{/eq}> 正常
        </label>
        <label class="radio-inline">
            <input type="radio" name="status" id="status" value="1" {eq name='one.status' value='1'} checked="checked"{/eq}> 禁用
        </label>
    </div>
    <div class="">
        <input type="hidden" name="id" value="{$one.id}">
        <button class="btn btn-default">保存</button>
    </div>
</form>
<script type="text/javascript">
var userValidate = {
    rules: {
        'username':{
          required:true,
          minlength:3
        },
        'password':{
            // required:true,
            minlength:6,
        },
        // 'repassword':{
        //  required:true,
        //  equalTo:"#password"
        // }
        
    }, 
    messages: {
        'username':{
          required:'请填写用户名',
          minlength:'用户名长度不够'
        },
        'password':{
            // required:'请填写密码',
            minlength:'密码长度不够'
        },
        // 'repassword':{
        //  required:'请填写确认密码',
        //  equalTo:'确认密码有误'
        // }
    }
};

</script>
{/block}