{extend name="mould:base" /}
{block name="title"}{/block}
{block name="content"}
<form action="{:url('edit')}" method="post" class="cy-ajaxForm cy-form" role="form">
    <div class="form-group form-inline">
        <div class="row">
            <div class="col-xs-1 col-md-1" style="width:98px"><span for="group">角色：</span></div>
            <div class="col-xs-11 col-md-11 dd">
                {notempty name="authgroup"}
                    {volist name="authgroup" id="authgroup" key="k"}
                        <div class="row">
                            <select name="group_id[]" class="form-control {neq name="k" value="1"}mg-t-10{/neq}">
                                {volist name='groupdata' id='list'}
                                  <option value="{$list.id}" {eq name="authgroup.group_id" value="$list.id" } selected="selected"{/eq}>{$list.title}</option>
                                {/volist}
                            </select>&nbsp&nbsp&nbsp&nbsp<a href="javascript:void(0)" onclick="{eq name="k" value="1"}add_group(this){else/}del_group(this){/eq}" title="添加一个">{eq name="k" value="1"}[+]{else/}[-]{/eq}</a>
                        </div>
                    {/volist}
                {else /}
                    <div class="row">
                        <select name="group_id[]" class="form-control">
                            {volist name='groupdata' id='list'}
                              <option value="{$list.id}" {eq name="list.id" value="8"} selected="selected"{/eq}>{$list.title}</option>
                            {/volist}
                        </select>&nbsp&nbsp&nbsp&nbsp<a href="javascript:void(0)" onclick="add_group(this)" title="添加一个">[+]</a>
                    </div>
                {/notempty}
            </div>
        </div>
    </div>
    <div class="form-group form-inline">
        <span for="username">用户名：</span>
        <input type="text" class="form-control input-sm" name="username" id="username" value="{$one.username}" placeholder="用户名">
    </div>
    <div class="form-group form-inline">
        <span for="nickname">用户昵称：</span>
        <input type="text" class="form-control" name="nickname" id="nickname" value="{$one.nickname}" placeholder="用户昵称">
    </div>
    <div class="form-group form-inline">
        <span for="realname">姓名：</span>
        <input type="text" class="form-control" name="realname" id="realname" value="{$one.realname}" placeholder="真实姓名">
    </div>
    <div class="form-group form-inline">
        <span for="email">邮箱：</span>
        <input type="text" class="form-control" name="email" id="email" value="{$one.email}" placeholder="邮箱">
    </div>
    <div class="form-group form-inline">
        <span for="password">用户密码：</span>
        <input type="password" class="form-control" name="password" id="password" placeholder="用户密码">
    </div>
    <!-- <div class="form-group form-inline">
        <span for="repassword">确认密码：</span>
        <input type="password" class="form-control" name="repassword" id="repassword" placeholder="确认密码">
    </div> -->
    <div class="form-group form-inline">
        <span>状态：</span>
        <label class="radio-inline">
            <input type="radio" name="status" id="status" value="1" {eq name='one.status' value='1'} checked="checked"{/eq}> 正常
        </label>
        <label class="radio-inline">
            <input type="radio" name="status" id="status" value="0" {eq name='one.status' value='0'} checked="checked"{/eq}> 禁用
        </label>
    </div>
    <div class="fixed-bottom">
        <input type="hidden" name="id" value="{$one.id}">
        <button class="btn btn-default">保存</button>
    </div>
</form>
<script type="text/javascript">
var userValidate = {
    rules: {
        'username':{
          required:true,
          minlength:3
        },
        'password':{
            // required:true,
            minlength:6,
        },
        // 'repassword':{
        //  required:true,
        //  equalTo:"#password"
        // }
        
    }, 
    messages: {
        'username':{
          required:'请填写用户名',
          minlength:'用户名长度不够'
        },
        'password':{
            // required:'请填写密码',
            minlength:'密码长度不够'
        },
        // 'repassword':{
        //  required:'请填写确认密码',
        //  equalTo:'确认密码有误'
        // }
    }
};
function add_group(obj)
{
    var html = $(obj).parent('.row').clone();
    html.find('select').addClass('mg-t-10');
    html.find('a').attr('onclick','del_group(this)').html('[-]');
    // html.find('select option').removeAttr('selected');
    $(obj).parents('.dd').append(html);
}

function del_group(obj)
{
    $(obj).parent('.row').remove();
}
</script>
{/block}