{extend name="mould:base" /}
{block name="title"}后台首页{/block}
{block name="content"}
    <table class="table table-condensed table-hover">
        <colgroup>
	        <col width="60">
	        <col width="120">
	        <col width="120">
	        <col width="120">
	        <col>
	        <col width="140">
	        <col width="140">
	        <col width="48">
	        <col width="90">
        </colgroup>
        <thead>
          <tr>
          	<td>id</td>
            <td>用户名</td>
            <td>昵称</td>
            <td>姓名</td>
            <td>邮箱</td>
            <td>登录时间</td>
            <td>注册时间</td>
            <td>状态</td>
            <td align='center'>管理操作</td>
          </tr>
        </thead>
		{volist name='data' id='value'}
	        <tr>
	        	<td>{$value.id}</td>
				<td>{$value.username}</td>
				<td>{$value.nickname}</td>
				<td>{$value.realname}</td>
				<td>{$value.email}</td>
				<td>{$value.login_time_show}</td>
				<td>{$value.create_time_show}</td>
				<td><a class="cy-ajax" href="{:url('manager/disable',array('id'=>$value['id']))}" title="快捷设置状态">{$value.status_text}</a></td>
				<td align='center' >
					<a href="{:url('manager/edit',array('id'=>$value['id']))}" title="修改">修改</a>
					{neq name="value.id" value="1"} | <a class="cy-ajax" href="{:url('manager/del',array('id'=>$value['id']))}" data-layer-msg="删除" data-layer-okbtn="删除" title="删除">删除</a>{/neq}
				</td>
			</tr>
		{/volist}
	</table>
	<div class="pager">
	    {$page}
	</div>
{/block}