{extend name="mould:base" /}
{block name="title"}后台首页{/block}
{block name="content"}
    <table class="table table-condensed table-hover">
        <colgroup>
	        <col width="60">
	        <col width="120">
	        <col width="120">
	        <col width="120">
	        <col>
	        <col width="140">
	        <col width="140">
	        <col width="48">
	        <col width="90">
        </colgroup>
        <thead>
          <tr>
          	<td>id</td>
            <td>用户名</td>
            <td>昵称</td>
            <td>姓名</td>
            <td>邮箱</td>
            <td>登录时间</td>
            <td>注册时间</td>
            <td>状态</td>
            <td align='center'>管理操作</td>
          </tr>
        </thead>
		{volist name='list' id='list'}
	        <tr>
	        	<td>{$list.id}</td>
				<td>{$list.username}</td>
				<td>{$list.nickname}</td>
				<td>{$list.realname}</td>
				<td>{$list.email}</td>
				<td>{$list.login_time_show}</td>
				<td>{$list.create_time_show}</td>
				<td><a class="cy-ajax" href="{:url('updatestatus',array('id'=>$list['id']))}" title="快捷设置状态">{$list.status_text}</a></td>
				<td align='center' >
					<a href="{:url('edit',array('id'=>$list['id']))}" title="修改">修改</a>
					{neq name="list.id" value="1"} | <a class="cy-ajax" href="{:url('del',array('id'=>$list['id']))}" data-layer-msg="删除" data-layer-okbtn="删除" title="删除" data-layer-confirm="true">删除</a>{/neq}
				</td>
			</tr>
		{/volist}
	</table>
	{notempty name="page"}
		<div class="pager-wrapper">
			<div class="bottom-area">
				<div class="pager">
				    {$page}
				</div>
			</div>
		</div>
	{/notempty}
{/block}