{extend name="mould:base" /}
{block name="title"}{/block}
{block name="content"}

<form action="{:url('edit')}" method="post" class="cy-ajaxForm cy-form" role="form">
    <div class="form-group form-inline">
        <span class="title" for="title">网站标题：</span>
        <input type="text" class="form-control input-sm" name="title" id="title" value="{$one.title}" placeholder="网站标题">
    </div>
    <div class="form-group form-inline">
        <span class="title" for="keywords">关键字：</span>
        <input type="text" class="form-control input-sm" name="keywords" id="keywords" value="{$one.keywords}" placeholder="网站关键字">
    </div>
    <div class="form-group form-inline">
        <span class="title" for="description">描述：</span>
        <textarea class="form-control" name="description" id="description">{$one.description}</textarea>
    </div>
    <div class="form-group form-inline">
        <span class="title" for="record">备案号：</span>
        <input type="text" class="form-control input-sm" name="record" id="record" value="{$one.record}" placeholder="备案号">
    </div>
    <div class="form-group form-inline">
        <span class="title" for="statistical">统计代码：</span>
        <textarea class="form-control" name="statistical" id="statistical">{$one.statistical}</textarea>
    </div>
    <div class="fixed-bottom">
        <div class="bottom-area">
            <input type="hidden" name="id" value="{empty name="one.id"}1{else/}{$one.id}{/empty}">
            <button class="btn btn-sm btn-default">保存</button>
        </div>
    </div>
</form>

<script type="text/javascript">
var userValidate = {
    rules: {
        'title':'required',
    }, 
    messages: {
        'title':'请填写标题',
    }
};

</script>
{/block}