{extend name="mould:base" /}
{block name="title"}{/block}
{block name="content"}
<form action="{:url('authGroup/add')}" method="post" class="J_ajaxForms" >
    <div class="table_full">
      <table width="100%"  class="table_form">
        <tr>
          <th>角色名称：</th>
          <td class="y-bg"><input type="text" class="input" name="title" id="title" size="30" value="" /></td>
        </tr>
        <tr>
          <th>状态：</th>
          <td class="y-bg"><label>
              <input type="radio" name="status" value="1" checked="checked">
              启用 </label>
            &nbsp;
            <label>
              <input type="radio" name="status" value="0">
              禁用 </label></td>
        </tr>
      </table>
    </div>
    <div class="">
      <div class="btn_wrap_pd">
        <button class="btn btn_submit mr10 J_ajax_submit_btn" type="submit">添加</button>
      </div>
    </div>
</form>
<script type="text/javascript">
var userValidate = {
    rules: {
        'title':{
            required:true
        }
    }, 
    messages: {
        'title':{
            required:'请填写规则名称'
        }
    }
};

</script>
{/block}