{extend name="mould:base" /}
{block name="title"}{/block}
{block name="content"}
<form action="{:url('edit')}" method="post" class="cy-ajaxForm cy-form" >
    <div class="form-group form-inline">
        <span for="title">角色名称：</span>
        <input type="text" class="form-control" name="title" id="title" placeholder="角色名称：" value="{$one.title}">
    </div>
    <div class="form-group form-inline">
        <span>状态：</span>
        <label class="radio-inline">
            <input type="radio" name="status" id="status" value="1" {eq name='one.status' value='1'} checked="checked"{/eq}> 正常
        </label>
        <label class="radio-inline">
            <input type="radio" name="status" id="status" value="0" {eq name='one.status' value='0'} checked="checked"{/eq}> 禁用
        </label>
    </div>
    <div class="fixed-bottom">
        <div class="bottom-area">
            <input type="hidden" name="id" value="{$one.id}" />
            <button class="btn btn-sm btn-default">保存</button>
        </div>
    </div>
</form>
<script type="text/javascript">
var userValidate = {
    rules: {
        'title':{
            required:true
        }
    }, 
    messages: {
        'title':{
            required:'请填写规则名称'
        }
    }
};

</script>
{/block}