{extend name="mould:base" /}
{block name="title"}{/block}
{block name="content"}
    <table class="table table-condensed table-hover">
        <colgroup>
	        <col width="60">
	        <col width="120">
	        <col>
	        <col width="48">
	        <col width="170">
        </colgroup>
        <thead>
          <tr>
          	<td>id</td>
            <td>角色名称</td>
            <td>拥有权限列表</td>
            <td>状态</td>
            <td align='center'>管理操作</td>
          </tr>
        </thead>
		{volist name='list' id='list'}
	        <tr>
	        	<td>{$list.id}</td>
				<td>{$list.title}</td>
				<td style="word-break: break-all; word-wrap:break-word;">
					{notempty name="list.tree"}
						{volist name="list.tree" id="vo"}
							{$vo._name}<br>
						{/volist}
					{/notempty}
				</td>
				<td><a href="{:url('updatestatus',array('id'=>$list['id']))}" class="cy-ajax" title="快捷设置状态">{neq name="list.id" value="1"}{$list.status_text}{/neq}</a></td>
				<td align='center'>
					{neq name="list.id" value="1"}
						<a href="{:url('rule',array('id'=>$list['id']))}">权限分配</a> | 
					{/neq}
					<a href="{:url('edit',array('id'=>$list['id']))}">修改</a>
					{neq name="list.id" value="1"} | 
						<a class="cy-ajax" href="{:url('del',array('id'=>$list['id']))}" data-layer-msg="删除" data-layer-okbtn="删除" data-layer-confirm="true" title="删除">删除</a>
					{/neq}
				</td>
			</tr>
		{/volist}
	</table>
	<div class="pager-wrapper">
	  	<div class="pager">
	      {$page}
	   </div>
	</div>
{/block}