{extend name="mould:base" /}
{block name="title"}{/block}
{block name="content"}
    <table class="table table-condensed table-hover">
        <colgroup>
	        <col width="60">
	        <col width="120">
	        <col>
	        <col width="48">
	        <col width="170">
        </colgroup>
        <thead>
          <tr>
          	<td>id</td>
            <td>角色名称</td>
            <td>拥有权限列表</td>
            <td>状态</td>
            <td align='center'>管理操作</td>
          </tr>
        </thead>
		{volist name='data' id='value'}
	        <tr>
	        	<td>{$value.id}</td>
				<td>{$value.title}</td>
				<td>{$value.rules}</td>
				<td><a href="{:url('disable',array('id'=>$value['id']))}" class="J_ajax_del" title="快捷设置状态">{$value.status_text}</a></td>
				<td align='center'>
					<a href="{:url('rule',array('id'=>$value['id']))}">权限分配</a> | 
					<a href="{:url('edit',array('id'=>$value['id']))}">修改</a> | 
					<a class="J_ajax_del" href="{:url('del',array('id'=>$value['id']))}">删除</a>  
				</td>
			</tr>
		{/volist}
	</table>
  <div class="pager">
      {$page}
  </div>
{/block}