{extend name="mould:base" /}
{block name="title"}{/block}
{block name="content"}

<form action="{:url('add')}" method="post" class="J_ajaxForms cy-form" role="form">
    <div class="form-group form-inline">
        <span for="name">行为标识：</span>
        <input type="text" class="form-control input-sm" name="name" id="name" placeholder="行为标识">
    </div>
    <div class="form-group form-inline">
        <span for="title">行为名称：</span>
        <input type="text" class="form-control" name="title" id="title" placeholder="行为名称">
    </div>
    <div class="form-group form-inline">
        <span for="type">行为类型：</span>
        <label class="radio-inline">
            <input type="radio" name="type" id="" value="1" checked="checked"> 系统
        </label>
        <label class="radio-inline">
            <input type="radio" name="type" id="" value="2"> 用户
        </label>
    </div>
    <div class="form-group form-inline">
        <span for="remark">行为描述：</span>
        <textarea class="form-control" name="remark" id="remark"></textarea>
    </div>
    <div class="form-group form-inline">
        <span for="rule">行为规则：</span>
        <textarea class="form-control" name="rule" id="rule"></textarea>
    </div>
    <div class="form-group form-inline">
        <span for="log">日志规则：</span>
        <textarea class="form-control" name="log" id="log"></textarea>
    </div>
    <div class="form-group form-inline">
    	<span>&nbsp;</span>
    	<p class="form-control-static">[user|get_realname]在[time|time_format]设置了控制台菜单显示状态</p>
    </div>
    <div class="form-group form-inline">
        <span for="status">状态：</span>
        <label class="radio-inline">
            <input type="radio" name="status" id="" value="1" checked="checked"> 正常
        </label>
        <label class="radio-inline">
            <input type="radio" name="status" id="" value="0"> 禁用
        </label>
    </div>
    <div class="">
        <button class="btn btn-default">保存</button>
    </div>
</form>
<script type="text/javascript">
var userValidate = {
    rules: {
        'name':'required',
        'title':{
            required:true
        }
    }, 
    messages: {
        'name':'请填写规则标识',
        'title':{
            required:'请填写规则名称'
        }
    }
};

</script>
{/block}