{extend name="mould:base" /}
{block name="title"}{/block}
{block name="content"}
    <table class="table table-condensed table-hover">
        <colgroup>
	        <col width="60">
	        <col width="55">
	        <col width="120">
	        <col width="180">
	        <col>
	        <col width="50">
	        <col width="50">
	        <col width="90">
        </colgroup>
        <thead>
          <tr>
          	<td>id</td>
            <td>行为唯一标识</td>
            <td>行为说明</td>
            <td>行为描述</td>
            <td>行为规则</td>
            <td>类型</td>
            <td>状态</td>
            <td align='center'>管理操作</td>
          </tr>
        </thead>
		{volist name='list' id='list'}
	        <tr>
	        	<td>{$list.id}</td>
				<td>{$list.name}</td>
				<td>{$list.title}</td>
				<td>{$list.remark}</td>
				<td>{$list.log}</td>
				<td>{$list.type_text}</td>
				<td><a class="cy-ajax" href="{:url('updatestatus',array('id'=>$list['id']))}" title="快捷设置状态">{$list.status_text}</a></td>
				<td align='center' >
					<a href="{:url('edit',array('id'=>$list['id']))}" title="修改">修改</a> | 
					<a class="cy-ajax" href="{:url('del',array('id'=>$list['id']))}" data-layer-msg="删除" data-layer-okbtn="删除" data-layer-confirm="true" title="删除">删除</a>  
				</td>
			</tr>
		{/volist}
	</table>
	<div class="pager" style="position: fixed; bottom: 0">
	    {$page}
	</div>
{/block}