{extend name="mould:base" /}
{block name="title"}{/block}
{block name="author"}{$second.title}{/block}
{block name="keywords"}{$second.title}{/block}
{block name="description"}{$second.title}{/block}
{block name="css"}

<style type="text/css">
	.commonindex{ padding-top: 20px; }
	.commonindex a{ margin-right: 10px }
	.commonindex a:hover{}


</style>
{/block}
{block name="content"}
	<div class="commonindex">
	{volist name="commonindex" id="commonindex"}
        {if condition="$commonindex.isnavshow"}
            <a class="btn btn-info" {if condition="$commonindex.active"}class="active"{/if} href="{$commonindex.url}" title="{$commonindex.title}">{$commonindex.title}</a>
        {/if}
    {/volist}
    </div>
	<div>
	    <label>
	        <input type="checkbox" class="iCheck" id="remember"> 记住用户名
	    </label>
	</div>




{/block}
