{extend name="mould:base" /}
{block name="title"}{/block}
{block name="content"}
<form action="{:url('cache')}" method="post" >
	<div class="row">
		<div class="col-xs-2 col-md-2 text-xs-right">选择更新</div>
		<div class="col-xs-10 col-md-10">
			<div class="form-group form-inline">
		        <label>
					<input type="checkbox" name="action[]" value="Config" checked='checked'/>
												网站配置
				</label>
		    </div>
		    <div class="form-group form-inline">
		        <label>
					<input type="checkbox" name="action[]" value="Category" checked='checked'/>
					栏目缓存
				</label>
		    </div>
		    <div class="form-group form-inline">
		        <label>
					<input type="checkbox" name="action[]" value="Table" checked='checked'/>
					数据表缓存
				</label>
		    </div>
		    <div class="form-group form-inline">
		        <label>
					<input type="checkbox" name="action[]" value="rule" checked='checked'/>
					规则表缓存
				</label>
		    </div>
		    <div class="form-group form-inline">
		        <label>
					<input type="checkbox" name="action[]" value="other" checked='checked'/>
					其它项
				</label>
		    </div>
		    <div class="showstatus"></div>
		</div>
	</div>
	<div class="fixed-bottom">
		<input type="hidden" name="action[]" value="end" checked='checked'>
		<button class="btn btn-sm btn-danger" type="submit">更新缓存</button>
	</div>
</form>
{/block}
{block name="script"}
<script type="text/javascript">

$(function(){
	// $('input').iCheck({
 //        checkboxClass: 'icheckbox_square-blue',
 //        radioClass: 'iradio_square-blue',
 //        increaseArea: '20%' // optional
 //    });

	$('form button').on('click',function(e){
		// alert(1);
		e.preventDefault();
		var _self  = $(this);
		var _form  = _self.closest('form');
		var _url   = _form.prop('action');
		var _data  = _form.serialize();
		var showstatus  = $('.showstatus');

		$.ajax({
			type:'post',
			url:_url,
			data:_data,
			dataType:'json',
			befor:function(){

			},
			success:function(data){
				console.log(data);
				if(data.code){
					_self.click();
					var _html  = '<p>'+data.msg+'</p>';
					showstatus.append(_html);
				}else{
					var _html  = '<p>'+data.msg+'</p>';
					showstatus.append(_html);
				}
			}
		});
		// alert(_url);
		return false;
	});
});
</script>
{/block}