{extend name="mould:base" /}
{block name="title"}{/block}
{block name="content"}
<form action="{:url('cache')}" method="post" >
    <div class="table_full">
		<div class="h_a">更新缓存</div>
		<table width='100%'  class="table_form">
			<tr>
				<th width="200" style='vertical-align:middle'>选择更新</th>
				<td>
					<table>
						<tbody>
							<tr>
								<td>
									<label>
										<input type="checkbox" name="action[]" value="Config" checked='checked'/>
										网站配置
									</label>
								</td>
							</tr>
							<tr>
								<td>
									<label>
										<input type="checkbox" name="action[]" value="Category" checked='checked'/>
										栏目缓存
									</label>
								</td>
							</tr>
							<tr>
								<td>
									<label>
										<input type="checkbox" name="action[]" value="Table" checked='checked'/>
										数据表缓存
									</label>
								</td>
							</tr>
							<tr>
								<td>
									<label>
										<input type="checkbox" name="action[]" value="authRule" checked='checked'/>
										规则表缓存
									</label>
								</td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
		</table>
	    <div class="showstatus"></div>
    </div>

	<div class="">
		<div class="btn_wrap_pd">
			<button class="btn btn_submit mr10 " type="submit">更新缓存</button>

		</div>
	</div>
</form>
<script type="text/javascript">

$(function(){
	$('button.btn_submit').on('click',function(e){
		// alert(1);
		e.preventDefault();
		var _self  = $(this);
		var _form  = _self.closest('form');
		var _url   = _form.prop('action');
		var _data  = _form.serialize();
		var showstatus  = $('.showstatus');

		$.ajax({
			type:'post',
			url:_url,
			data:_data,
			dataType:'json',
			befor:function(){

			},
			success:function(data){
				console.log(data);
				if(data.code){
					_self.click();
					var _html  = '<p>'+data.msg+'</p>';
					showstatus.append(_html);
				}else{
					var _html  = '<p>'+data.msg+'</p>';
					showstatus.append(_html);
				}
			}
		});
		// alert(_url);
		return false;
	});
});
</script>
{/block}